<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597891397365-qi3reib6bjig4c462tqa62mpsh3cldst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597891397365-qi3reib6bjig4c462tqa62mpsh3cldst</string>
	<key>API_KEY</key>
	<string>AIzaSyCGrLazttnPpNWkTmZy0vMOAplAS0qwWKM</string>
	<key>GCM_SENDER_ID</key>
	<string>597891397365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>first.Notification</string>
	<key>PROJECT_ID</key>
	<string>notification-5d12c</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-5d12c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597891397365:ios:8e4ef0498ba6ca9dda77bc</string>
</dict>
</plist>